<div class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('index') }}"><i class="fas fa-home"></i> Inicio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('inventario') }}"><i class="fas fa-boxes"></i> Inventario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('bodegas') }}"><i class="fas fa-warehouse"></i> Bodegas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('reportes') }}"><i class="fas fa-chart-line"></i> Reportes</a>
        </li>

    </ul>
</div>
 